.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
display: flex;
height: 100%;
align-items: center;
justify-content: center;
margin: 0%;
}

.example-sidenav {
padding: 20px;
background-image: url("src/assets/img/sidebar-4.jpg");
}

.grid-container{
background-color: #fff;
border-radius: 10px;
margin-top: 1%;
max-width: 99%;
width: 99%;
}

.grid-container {
display: grid;
grid-template-rows: 55vh;
grid-template-columns: 30% 50%;
gap: 10px; /* Spazio tra le celle */
}

.row{
background-color: #fff;
border-radius: 10px;
margin-top: 1%;
max-width: 99%;
width: 99%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-content h3,
.card-content h4,
.card-content button {
  margin-bottom: 10px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Aggiungi un margine superiore per separare la paginazione dal contenuto sottostante */
}

.custom-img {
  width: 200px;
  height: 200px;
}

