<mat-grid-list cols="2" rowHeight="1:1.5">
  <mat-grid-tile>
    <h1 *ngIf="this.data.categoria!==' '&& this.data.anno !== null && this.ret[0]!==0">
      Nel {{this.data.anno}} hai speso {{this.ret[0]}}€ per la categoria {{this.data.categoria}}
    </h1>
    <h1 *ngIf="this.data.categoria!==' '&& this.data.anno !== null && this.ret[0]===0">
      Non hai avuto spese nel {{this.data.anno}} per la categoria {{this.data.categoria}}
    </h1>
    <h1 *ngIf="this.data.categoria === ' ' && this.data.anno !== null">
      Nel {{this.data.anno}} hai speso 
      <ul>
        <li *ngFor="let item1 of categorie; let i = index">
          {{ item1 }} : {{ this.ret[i] }}€
        </li>
      </ul>
      <b>Per un totale di {{this.totale}}€</b>
    </h1>
  </mat-grid-tile>
  <mat-grid-tile class="immagine">
      <img src="https://st2.depositphotos.com/1000128/6768/i/600/depositphotos_67682817-stock-photo-business-finance-and-accounting-concept.jpg" style="width: 90%; height: auto;">
  </mat-grid-tile>
</mat-grid-list>

  