<mat-toolbar color="primary">
    <span>Contabilità Personale</span>
    <span class="example-spacer"></span>
    <!--a (click)="this.logged=true" href="/.auth/login/google">Login with Google
        <mat-icon>login</mat-icon>
    </a-->
    <button mat-raised-button (click)="this.logged=true">Login with Google
        <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container"></div>
  <div class = "contenuto" *ngIf="this.logged">
    <div class="bottone">
        <h2>
            Benvenuto {{this.user}} vai alla home page per gestire la tua contabilità
        </h2>
        <button mat-raised-button routerLink="/home">Vai alla home
            <mat-icon>home</mat-icon>
          </button>
      </div>
  </div>
  
 

