.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
}

.example-sidenav {
  padding: 20px;
  background-image: url("src/assets/img/sidebar-4.jpg");
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex-grow: 1; /* Occupa tutto lo spazio rimanente */
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10px; /* Spazio tra le celle */
  max-height: 568px;
  height: 568px;
}

.grid-item {
  padding: 10px;
  height: 100%;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.invalid-feedback {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.table-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.mat-elevation-z8 {
  box-shadow: none;
  border-radius: 10px;
}

.ricercaConFiltri{
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.barraDiRicerca{
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 1%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-img {
  width: 200px;
  height: 200px;
}

.pagination-container{
  justify-content: center;
  width: 100%;
  margin-top: 1%;
}